.HomePage{
    position: absolute;
    align-self: center;
    top: 50%;
    left: 50%;
    opacity: 50%;
}
.homebox{
    position: absolute;
    height: 40%;
    width: 50%;
    background-color: #AAAAAA;
    text-align: center;
    top: 20%;
    left: 25%;
    opacity: 0.5;

}

.ViewMap{
    background-color: black;
    border: 10px;

}

.popUpBtn{
    position: absolute;
    top:20%;
    left: 15%;
    width: 10%;
    height: 5%;
    color: white;
    background-color: black;
    opacity: 0.85;


}

.MapList{
    position: absolute;
    top: 15%;
    right: 10%;
    color: white;

}